body {
  min-width: 960px;

  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-weight: normal;
}

.container {
  font-family: "PT Sans", Arial, sans-serif;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  display: none;
}

.button {
  font: inherit;


  font-size: 14px;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #ee3643;
  border: none;
  border-radius: 2px;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}


/*header-section*/

.page-header {
  margin-bottom: 60px;
  padding-bottom: 60px;
  background-color: #f4f7f9;
}

.header-section {
  margin-bottom: 46px;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.header-section-wrapper {
  display: flex;
  align-items: center;
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
  height: 42px;
}

.header-logo {
  margin-right: 16px;
}

.header-logo img {
  box-sizing: content-box;
  padding: 12px 55px;
  background-color: #ee3643;
  text-align: center;
  vertical-align: middle;
  box-shadow: 0 5px 0 0 #b52933;
}

.header-logo img:hover,
.header-logo img:focus {
  background-color: #ca2c37;
}

.header-logo img:active {
  background-color: #ba2732;
}

/*Почему цвет текста не поменялся?*/
.header-item input[type="search"] {
  padding: 11px;
  font-size: inherit;
  color: #ffffff;
  background-color: #293449;
  border: none;
}

.header-order-wrapper {
  display: flex;
  align-items: center;
  height: 42px;
  margin-right: 0;
  margin-left: auto;
}

.header-bookmarks,
.header-basket {
  display: block;
  padding: 12px 23px 12px 21px;
}

.header-bookmarks:hover,
.header-basket:hover,
.header-bookmarks:focus,
.header-basket:focus {
  background-color: #212a3a;
}

.header-bookmarks:active,
.header-basket:active {
  background-color: #161d29;
  opacity: 0.6;
}

.header-order {
  display: block;
  padding: 12px 23px 12px 21px;
  vertical-align: middle;
  background-color: #63a63e;
}

.header-order:hover,
.header-order:focus {
  background-color: #5fbb2d;
}

.header-order:active {
  background-color: #518534;
  opacity: 0.5;
}


/*header-title*/

.header-title {
  display: flex;
  justify-content: space-between;
  width: 960px;
  margin: 0 auto;
  margin-bottom: 44px;
  padding: 0 10px;
}

.header-head {
  width: 210px;
  margin-left: 52px;

  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  vertical-align: middle;
  color: #ee3643;
}

.title-wrapper {
  text-align: center;
}

.header-phone {
  display: block;
  padding: 10px 50px 10px 70px;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  vertical-align: middle;
  color: #ee3643;
  border: 2px solid #ffffff;
}

.header-address {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.user-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.login-link a,
.user-link a {
  display: block;
  padding: 12px 25px;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.user-link a {
  margin-left: 10px;
}

.user-navigation a:hover,
.user-navigation a:focus {
  color: #ee3643;
}

.user-navigation a:active {
  opacity: 0.3;
}

.user-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.name-login {
  display: block;
  padding: 15px;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.user-login a {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.user-login a:active {
  color: #32425c;
  opacity: 0.3;
}


/*main-nav*/

.main-nav {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
  font-size: 17px;
  line-height: 17px;
}

.site-nav {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
  color: #ffffff;
  background-color: #32425c;
  box-shadow: 0 5px 0 0 #293449;
}

.site-nav a {
  display: block;
  padding: 18px 33px;
  margin-right: 0;
  color: #ffffff;
}

.site-nav a:hover,
.site-nav a:focus {
  background-color: #293449;
}

.site-nav a:active {
  background-color: #1d2739;
  opacity: 0.5;
}


/*features*/

.features {
  width: 960px;
  padding: 0 10px;
  margin: 0 auto;
  margin-bottom: 53px;
}

.features-wrapper {
  display: flex;
  justify-content: space-between;
}

.list-wrapper {
  flex-direction: column;
}

.list-wrapper .features-list  {
  margin-top: 20px;
}

.features-list {
  width: 300px;
  padding-bottom: 22px;
  padding-left: 25px;
}

.features-list a {
  display: block;
  width: 135px;
  padding: 10px;
  text-align: center;
  border-radius: 2px;
}

.features-list h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
}

.features-list a {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.1);
}

.features-list a:hover,
.features-list a:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.features-list a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.features-list-material {
  background-color: #ffbf47;
}

.features-list-tool {
  background-color: #3bbce3;
}

.features-list-technics {
  background-color: #dc91d8;
}

.features-list-discount {
  background-color: #8ed78f;
}

.features-list-delivery {
  background-color: #ffc047;
}

.features-item-wrapper {
  display: flex;
  justify-content: space-between;
}

.features-item-list li:nth-child(1) {
  background: url("../img/slider-1.jpg") no-repeat;
  width: 621px;
  min-height: 266px;
}

/*.features-item-list li:nth-child(2) {
  background: url("../img/slider-2.jpg") no-repeat;
}*/

.features-item-list {
  position: relative;
  top: -10px;
  margin: 0;
  padding: 0;
  color: #ffffff;
  list-style: none;
}

.features-item-list li {
}

.features-item-list h3 {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

.features-item-list p {
  font-size: 18px;
  line-height: 24px;
}

.item-button {
  display: block;
  width: 195px;
  padding: 10px 45px;
}


/*popular-goods*/

.popular-goods {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.popular-goods-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px 0;
  background-color: #f9f5f0;
}

.popular-head {
  margin-left: 30px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
}

.popular-button {
  display: block;
  margin-right: 25px;
  padding: 10px 55px;
}

.catalog-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-item {
  padding-right: 30px;
  padding-left: 30px;
  text-align: center;
  width: 220px;
  margin-bottom: 20px;
  border: 1px solid #eaeaea;
}


/*popular-manufacturers*/

.popular-manufacturers {
  width: 960px;
  margin: 0 auto;
  margin-bottom: 60px;
  padding: 0 10px;
}

.popular-manufacturers-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px 0;
  background-color: #f9f5f0;
}

.manufacturers-head {
  margin-left: 30px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
}

.manufacturers-button {
  display: block;
  margin-right: 25px;
  padding: 10px 70px;
}

.manufacturers-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.manufacturers-list li {
  width: 220px;
  height: 145px;
  margin-bottom: 20px;
  border: 1px solid #eaeaea;
}


/*services*/

.services {
  width: 960px;
  margin: 0 auto;
  margin-bottom: 75px;
  padding: 60px 10px 100px;
  background-color: #f4f7f9;
}

.services h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.services p {
  margin-bottom: 40px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.services-wrapper {
  display: flex;
  justify-content: space-between;
}

.services-list {
  width: 240px;
  margin: 0;
  margin-right: 80px;
  margin-top: 35px;
  padding: 0;
  list-style: none;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
}

.services-list li {
  display: block;
  padding: 15px 22px;
  color: #ffffff;
  background-color: #32425c;
}

.services-list li:hover {
  color: #32425c;
  background-color: #ffffff;
}

.services-item {
  display: flex;
  justify-content: space-between;
  width: 620px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-item img {
  height: 261px;
  margin-top: 50px;
}

.item-wrapper {
  width: 275px;
}

.services-item li {
  display: flex;
  justify-content: space-between;
}

.services-item h3 {
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  text-transform: uppercase;
}

.button-services {

}


/*delivery*/

.delivery {
  display: flex;
  justify-content: space-between;
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
  color: #000000;
}

.delivery-wrapper {
  width: 540px;
}

.delivery h2,
.delivery h3 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.delivery p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.delivery-company {
  margin: 0;
  margin-top: 25px;
  margin-bottom: 30px;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 20px;
}

.delivery-company li {
  padding: 10px 35px;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
}

.company-button {
  width: 220px;
  display: block;
  padding: 10px 40px;
}

.delivery-container {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.map {
  display: block;
  margin: 35px 0;
}

.company-btn {
  display: block;
  padding: 10px 60px;
  border-radius: 2px;
}


/*footer*/

.aside-footer {
  margin-top: 85px;
  padding-bottom: 45px;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  background-color: #32425c;
}

.aside-footer-wrapper {
  display: flex;
  justify-content: space-between;
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.footer-logo img {
  box-sizing: content-box;
  padding: 23px 42px;
  background-color: #ee3643;
  text-align: center;
  vertical-align: middle;
  box-shadow: 0 5px 0 0 #b52933;
}

.footer-contacts {
  margin-top: 48px;
  margin-left: 5px;
}

.footer-list-wrapper {
  display: flex;
  flex-direction: column;
  width: 550px;
  margin-top: 30px;
}

.footer-company {
  display: flex;
  justify-content: space-between;
  padding: 0;
  padding: 0;
  list-style: none;
}

.footer-company a {
  color: #ffffff;
}

.footer-company a:hover,
.footer-company a:focus {
  text-decoration: underline;
}

.footer-company a:active {
  color: rgba(255, 255, 255, 0.5);
}

.footer-features {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-top: 25px;
  padding: 0;
  padding-left: 25px;
  list-style: none;
}

.footer-features a {
  color: #ffd180;
}

.footer-features a:hover,
.footer-features a:focus {
  text-decoration: underline;
}

.footer-features a:active {
  color: rgba(255, 209, 128, 0.5);
}

.main-footer {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}

.main-footer-wrapper {
  display: flex;
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.footer-trademark {
  width: 230px;
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-social a {
  background-color: #212a3a;
  color: #ffffff;
}

.footer-social a:hover,
.footer-social a:focus,
.footer-social a:active {
  background-color: #ee3643
}

.footer-copyright {
  width: 140px;
  margin-right: 0;
  margin-left: auto;
}

.footer-copyright b {
  font-weight: normal;
}

.copyright {
  color: #ffd180;
}

.copyright:hover,
.copyright:focus {
  text-decoration: underline;
}

.copyright:active {
  color: #ee3643;
}


/*modal-form*/

.modal-message,
.modal-map,
.modal-adding {
  display: none;
}

.modal-message {
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  box-shadow: 0 -5px 0 0 #ee3643;
}

.modal-form input[type="text"],
.modal-form input[type="email"] {
  font-family: PT Sans, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #b5b5b5;
  border: 2px solid #b5b5b5;
  border-radius: 2px;
}

.modal-form input[type="text"]:hover,
.modal-form input[type="email"]:hover,
.modal-form input[type="text"]:focus,
.modal-form input[type="email"]:focus {
  color: #a9a9a9;
  border: 2px solid #a9a9a9;
}

.modal-form input[type="text"]:active,
.modal-form input[type="email"]:active {
  color: #a9a9a9;
  border: 2px solid #ee3643;
}

.modal-form textarea {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #b5b5b5;
  border: 2px solid #b5b5b5;
  border-radius: 2px;
}

.modal-form textarea:hover,
.modal-form textarea:focus {
  color: #a9a9a9;
  border: 2px solid #a9a9a9;
}

.modal-form textarea:active {
  color: #a9a9a9;
  border: 2px solid #ee3643;
}


/*CATALOG.HTML*/

.page-header-catalog {
  margin-bottom: 30px;
}

.name-login {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.container-catalog {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}


/*catalog*/

.catalog-columns {
  display: flex;
  justify-content: space-between;
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  list-style: none;
  text-transform: uppercase;
}

.breadcrumbs a {
  color: #000000;
}

.page-title {
  margin-bottom: 20px;
  padding: 30px;
}

.filters {
  width: 220px;
  text-transform: uppercase;
  color: #000000;
}

.filters fieldset {
  border: none;
}

.filters legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
}

.page-title {
  font-family: "Cuprum", Arial, sans-serif;
  background-color: #f4f7f9;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}

.filters h3 {
  background-color: #f7f3ec;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
}

.filter input[type="checkbox"] {
  font-size: 15px;
  line-height: 20px;
}

.filter input[type="radio"] {
  font-size: 15px;
  line-height: 20px;
}

.filter-list {
  list-style: none;
}

.filter-button {
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
}


/*Catalog*/

.catalog {
  width: 700px;
}

.sorting {
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  background-color: #f7f3ec;
}

.sorting h2 {
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
}

.sorting a {
  font-size: 13px;
  line-height: 18px;
}

.sorting-item-active {
  color: #ee3643;
}

.catalog-name {
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: #000000;
}

.visualy-popup {
  text-transform: uppercase;
}

.catalog-through {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: #999999;
  text-decoration: line-through;
}

.button-price {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: #ffffff;
  background-color: #ee3643;
}

.visualy-popup {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.popup-buy {
  color: #ffffff;
  background-color: #63a63e;
  border-radius: 2px;
  box-shadow: 0 3px 0 0 #367315;
}

.popup-buy:hover,
.popup-buy:focus {
  background-color: #5fbb2d;
}

.popup-buy:active {
  background-color: #518534;
}

.popup-bookmark {
  color: #32425c;
  border: 3px solid #63a63e;
  border-radius: 2px;
}

.popup-bookmark:hover,
.popup-bookmark:focus {
  border: 3px solid #32425c;
}

.popup-bookmark:active {
  opacity: 0.3;
}


/*pagination*/

.pagination-list {
  display: flex;
  margin: 0;
  margin-top: 50px;
  margin-bottom: 60px;
  padding: 0;

  list-style: none;
}

.pagination-item {
  margin-right: 10px;
}

.pagination-item a {
  padding: 10px 15px;

  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;

  border: 1px solid #e5e5e5;
  border-radius: 5px;
}

.pagination-item a:hover,
.pagination-item a:focus {
  border: 1px solid #bdc6ca;
}

.pagination-item a:active {
  border: 1px solid #ee3643;
}

.pagination-item-current a {
  background-color: #ee3643;
}



/*definition*/

.definition {
  background-color: #f2f6f8;
  color: #000000;
  margin-bottom: 0;
}

.definition-wrapper {
  width: 960px;
  margin: 0 auto;
  padding: 60px 10px 70px;
}

.definition h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: normal;
}

.definition p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

/*Не знаю как убрать верхний отступ*/
.page-footer-catalog {
  margin-top: 0;
}
