body {
  min-width: 960px;

  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-weight: normal;
}

.container {
  font-family: "PT Sans", Arial, sans-serif;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font: inherit;

  font-size: 14px;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #ee3643;
  border: none;
  border-radius: 3px;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}


/*header-section*/

.page-header {
  margin-bottom: 65px;
  padding-bottom: 60px;
  background-color: #f4f7f9;
}

.header-section {
  margin-bottom: 46px;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.header-section-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
  min-height: 42px;
}

.header-logo {
  margin-right: 15px;
}

.header-logo img {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 12px 55px;
  background-color: #ee3643;
  text-align: center;
  vertical-align: middle;
  -webkit-box-shadow: 0 5px 0 0 #b52933;
          box-shadow: 0 5px 0 0 #b52933;
}

.header-logo img:hover,
.header-logo img:focus {
  background-color: #ca2c37;
}

.header-logo img:active {
  background-color: #ba2732;
}

.header-item input {
  width: 250px;
  padding: 11px;
  padding-left: 35px;
  font: inherit;
  color: #ffffff;
  background-color: #293449;
  background-image: url("../img/icon-search-opacity.svg");
  background-image-color: #666666;
  background-repeat: no-repeat;
  background-position: 2px 11px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
}

.header-item input:hover {
  background-color: #212a3a;
  background-image: url("../img/icon-search.svg");
}

.header-item input:focus {
  color: #000000;
  background-color: #ffffff;
  background-image: url("../img/icon-search-red.svg");
}

.header-item input::-webkit-input-placeholder {
 color: #ffffff;
}

.header-item input:focus::-webkit-input-placeholder {
  color: #ffffff;
}

.header-order-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 42px;
  margin-right: 0;
  margin-left: auto;
}

.header-bookmarks,
.header-basket {
  position: relative;
  display: block;
  padding: 12px 30px 12px 45px;
  cursor: pointer;
}

.header-bookmarks::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 16px;
  width: 16px;
  height: 18px;
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.header-basket::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 15px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.header-bookmarks:hover::before,
.header-basket:hover::before {
  opacity: 1;
}

.header-bookmarks:hover,
.header-basket:hover,
.header-bookmarks:focus,
.header-basket:focus {
  background-color: #212a3a;
}

.header-bookmarks:active,
.header-basket:active {
  background-color: #161d29;
  opacity: 0.6;
}

.header-order {
  display: block;
  min-height: 42px;
  padding: 12px 21px;
  background-color: #63a63e;
  box-sizing: border-box;
  cursor: pointer;
}

.header-order:hover,
.header-order:focus {
  background-color: #5fbb2d;
}

.header-order:active {
  background-color: #518534;
  opacity: 0.5;
}


/*header-title*/

.header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 960px;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 0 10px;
}

.header-head {
  width: 200px;
  margin: 0;
  margin-top: 4px;
  margin-left: 52px;

  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  font-weight: normal;
  vertical-align: middle;
  color: #ee3643;
}

.title-wrapper {
  text-align: center;
}

.header-phone {
  position: relative;
  display: block;
  padding: 10px 50px 10px 70px;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  vertical-align: middle;
  color: #ee3643;
  border: 2px solid #ffffff;
  cursor: pointer;
}

.header-phone::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 12px;
  width: 20px;
  height: 20px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-address {
  margin: 0;
  margin-top: 5px;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.login-link a,
.user-link a {
  display: block;
  padding: 12px 25px;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.login-link a {
  width: 120px;
  padding-left: 50px;
  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 15px 15px;
}

.login-link a:hover,
.login-link a:focus {
  background-image: url("../img/icon-login-blue.svg");
}

.login-link a:active {
  background-image: url("../img/icon-login.svg")
}

.user-link a {
  margin-left: 10px;
}

.user-navigation a:hover,
.user-navigation a:focus {
  color: #ee3643;
}

.user-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.name-login-wrapper {
  background-color: #ffffff;
}

.name-login {
  display: block;
  padding: 15px;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background:
    url("../img/icon-user.svg") no-repeat 14px 13px,
    url("../img/icon-logout.svg") no-repeat 270px 13px;
}

.name-login:hover,
.name-login:focus {
  background:
    url("../img/icon-user-blue.svg") no-repeat 14px 13px,
    url("../img/icon-logout-blue.svg") no-repeat 270px 13px;
}

.user-login a {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.user-login a:active {
  color: #32425c;
  opacity: 0.3;
}


/*main-nav*/

.main-nav {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
  font-size: 17px;
  line-height: 17px;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
  color: #ffffff;
  background-color: #32425c;
  border-bottom: 5px solid #293449;
}

.site-nav a {
  display: block;
  padding: 18px 33px;
  color: #ffffff;
}

.site-nav a:hover,
.site-nav a:focus {
  background-color: #293449;
}

.site-nav a:active {
  background-color: #1d2739;
  opacity: 0.5;
}


/*features*/


.features {
  width: 960px;
  padding: 0 10px;
  margin: 0 auto;
  margin-bottom: 55px;
}

.features-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.list-wrapper .features-list  {
  margin-top: 20px;
}

.features-list {
  width: 300px;
  padding-bottom: 22px;
}

.features-list a {
  display: block;
  width: 135px;
  padding: 10px;
  text-align: center;
  border-radius: 2px;
}

.features-list h3 {
  margin: 0;
  margin-top: 20px;
  margin-left: 23px;
  margin-bottom: 13px;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
}

.features-list a {
  margin-left: 25px;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.1);
}

.features-list a:hover,
.features-list a:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.features-list a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.features-list-material {
  position: relative;
  background-color: #ffbf47;
}

.features-list-material::after {
  content: "";
  position: absolute;
  top: 30px;
  right: 37px;
  width: 50px;
  height: 65px;
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features-list-tool {
  position: relative;
  background-color: #3bbce3;
}

.features-list-tool::after {
  content: "";
  position: absolute;
  top: 32px;
  right: 23px;
  width: 80px;
  height: 65px;
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features-list-technics {
  position: relative;
  background-color: #dc91d8;
}

.features-list-technics::after {
  content: "";
  position: absolute;
  top: 31px;
  right: 28px;
  width: 80px;
  height: 65px;
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features-list-discount {
  position: relative;
  background-color: #8ed78f;
}

.features-list-discount::after {
  content: "";
  position: absolute;
  top: 25px;
  right: 20px;
  width: 80px;
  height: 65px;
  background-image: url("../img/icon-4.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features-list-delivery {
  position: relative;
  background-color: #ffc047;
}

.features-list-delivery::after {
  content: "";
  position: absolute;
  top: 30px;
  right: 30px;
  width: 80px;
  height: 65px;
  background-image: url("../img/icon-5.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features-item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.features-list-discount h3,
.features-list-delivery h3 {
  margin: 0;
  margin-left: 23px;
  margin-bottom: 17px;
}

.list-wrapper .features-list {
  padding-top: 16px;
}

.features-item {
  position: relative;
}

.features-item-controls i {
  position: absolute;
  left: 315px;
  bottom: 35px;
  width: 9px;
  height: 9px;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.features-item-controls .controls-active {
  position: absolute;
  left: 295px;
  bottom: 35px;
  width: 11px;
  height: 11px;
  background-color: red;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.features-item-list li:nth-child(1) {
  background-color: #c9b9a5;
  background-image: url("../img/slider-1.jpg");
  background-repeat: no-repeat;
  width: 621px;
  min-height: 266px;
}

.features-item-list li:nth-child(2) {
  background-color: #c9b9a5;
  background-image: url("../img/slider-2.jpg");
  background-repeat: no-repeat;
  width: 621px;
  min-height: 266px;
  display: none;
}

.features-item-list {
  margin: 0;
  margin-top: 20px;
  padding: 0;
  color: #ffffff;
  list-style: none;
}

.features-item-list li {
  padding: 20px 25px;
}

.features-item-list h3 {
  margin: 0;
  margin-bottom: 5px;
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

.features-item-list p {
  margin: 0;
  margin-bottom: 120px;
  font-size: 18px;
  line-height: 24px;
}

.item-button {
  display: block;
  width: 195px;
  padding: 10px 45px;
}

.features-button {
  position: absolute;
  width: 25px;
  height: 45px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.features-button-back {
  top: 132px;
  left: 25px;
  background-image: url(../img/icon-left.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features-button-next {
  top: 132px;
  right: 20px;
  background-image: url(../img/icon-right.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}


/*popular-goods*/


.popular-goods {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.popular-goods-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  padding: 0;
  background-color: #f9f5f0;
}

.popular-head {
  margin-left: 30px;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: #32425c;
}

.popular-button {
  display: block;
  margin-right: 25px;
  padding: 10px 55px;
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-item {
  position: relative;
  display: inline-block;
  width: 220px;
  margin-bottom: 20px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #eaeaea;
}

.catalog-item:hover {
  -webkit-box-shadow: 0 0 25px 0 rgba(41, 52, 73, 0.5);
          box-shadow: 0 0 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-item .flag {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.catalog-item .flag-new {
  background: url(../img/new-flag.png) no-repeat 0 0;
}

.catalog-item .actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 130px;
  padding: 40px 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10;
}

.catalog-item .image {
  width: 218px;
  height: 168px;
}

.catalog-item .title  {
  min-height: 40px;
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.catalog-item .discount {
  min-height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 17px;
  color: #a9a9a9;
  text-decoration: line-through;
}

.catalog-item .price {
  position: relative;
  width: 140px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 10px 30px;
  font-size: 17px;
  color: #ffffff;
  background-color: #ee3643;
  border-radius: 3px;
}

.catalog-item .price::after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border: 20px solid #ffffff;
  border-left-color: #ee3643;
}

.actions .buy,
.actions .bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  border-radius: 3px;
  color: #ffffff;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.actions .buy {
  position: relative;
  background-color: #63a63e;
  -webkit-box-shadow: 0 3px 0 0 #367315;
          box-shadow: 0 3px 0 0 #367315;
}

.actions .buy::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 12px;
  width: 20px;
  height: 20px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.actions .bookmark {
  color: #32425c;
  background-color: #ffffff;
  border: 3px solid #63a63e;
}

.catalog-item .actions {
  display: none;
}

.catalog-item:hover .actions {
  display: block;
}

.buy:hover,
.buy:focus {
  background-color: #5fbb2d;
}

.buy:active {
  background-color: #518534;
}

.bookmark:hover,
.bookmark:focus {
  border: 3px solid #32425c;
}

.bookmark:active {
  opacity: 0.3;
}


/*popular-manufacturers*/


.popular-manufacturers {
  width: 960px;
  margin: 0 auto;
  margin-bottom: 60px;
  padding: 0 10px;
}

.popular-manufacturers-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  background-color: #f9f5f0;
}

.manufacturers-head {
  margin-left: 30px;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: #32425c;
}

.manufacturers-button {
  display: block;
  margin-right: 25px;
  padding: 10px 70px;
}

.manufacturers-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.manufacturers-item {
  width: 220px;
  height: 145px;
  margin-bottom: 20px;
  border: 1px solid #eaeaea;
}

.manufacturers-item:hover,
.manufacturers-item:focus {
  -webkit-box-shadow: 0 0 25px 0 rgba(41, 52, 73, 0.5);
          box-shadow: 0 0 25px 0 rgba(41, 52, 73, 0.5);
}

.manufacturers-item:active {
  -webkit-box-shadow: 0 0 10px 0 rgba(41, 52, 73, 0.5);
          box-shadow: 0 0 10px 0 rgba(41, 52, 73, 0.5);
}

.manufacturers-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.manufacturers-item a:active {
  opacity: 0.3;
}


/*services*/


.services {
  margin-bottom: 75px;
  padding-top: 75px;
  padding-bottom: 60px;
  background-color: #f4f7f9;
}

.services-wrap {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.services-title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.services p {
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.services-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services-list {
  width: 240px;
  margin: 0;
  margin-top: 65px;
  padding: 0;
  list-style: none;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
}

.services-list li {
  display: block;
  padding: 16px 23px;
  color: #ffffff;
  background-color: #32425c;
  -webkit-box-shadow:
    0 1px 0 0 #293449,
    inset 0 -1px 0 0 #405069;
          box-shadow:
    0 1px 0 0 #293449,
    inset 0 -1px 0 0 #405069;

}

.services-list li {
  color: #ffffff;
  background-color: #32425c;
}

.services-list li:hover,
.services-list li:focus {
  background-color: #1d2739;
}

.services-list li:active {
  color: #32425c;
  background-color: #ffffff;
}

.services-list li:first-child {
  color: #32425c;
  background-color: #ffffff;
}

.services-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 272px;
  margin: 0;
  margin-left: -10px;
  margin-top: 25px;
  padding: 0;
  padding-top: 40px;
  list-style: none;
  background-image: url("../img/shadow-line.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.services-item-list {
  width: 710px;
  margin-right: 0;
  padding-left: 80px;
}

.services-item-list:nth-child(1) {
  background-image: url("../img/delivery.png");
  background-repeat: no-repeat;
  background-position: right 20px;
}

.services-item-list:nth-child(2) {
  background-image: url("../img/guarantee.png");
  background-repeat: no-repeat;
  background-position: right 20px;
  display: none;
}

.services-item-list:nth-child(3) {
  background-image: url("../img/credit.png");
  background-repeat: no-repeat;
  background-position: right 20px;
  display: none;
}

.services-item-list h3 {
  margin: 0;
  margin-bottom: 25px;
  margin-left: 10px;
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  text-transform: uppercase;
}

.services-item-list p {
  width: 277px;
  margin: 0;
  margin-left: 10px;
}

.button-services {
  display: block;
  width: 195px;
  margin-top: 30px;
  padding: 10px;
}


/*delivery*/


.delivery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
  color: #000000;
}

.delivery-wrapper {
  width: 540px;
}

.delivery h2,
.delivery h3 {
  margin: 0;
  margin-bottom: 25px;
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
  text-transform: uppercase;
}

.delivery p {
  margin: 0;
  margin-bottom: 25px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.delivery-text {
  width: 390px;
}

.delivery-company {
  margin: 0;
  margin-top: -15px;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 20px;
}

.delivery-company li {
  position: relative;
  padding: 10px 35px;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
}

.delivery-company li::before {
  content: "";
  position: absolute;
  top: 19px;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: #ee3643;
}

.company-button {
  width: 220px;
  display: block;
  margin-top: 30px;
  padding: 10px 40px;
}

.delivery-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
}

.delivery-container-text {
  width: 180px;
}

.map {
  display: block;
  margin-top: 10px;
}

.company-btn {
  display: block;
  margin-top: 35px;
  padding: 10px 60px;
}


/*footer*/


.aside-footer {
  margin-top: 85px;
  padding-bottom: 30px;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  background-color: #32425c;
}

.aside-footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.footer-logo img {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 20px 42px;
  background-color: #ee3643;
  text-align: center;
  vertical-align: middle;
  -webkit-box-shadow: 0 5px 0 0 #b52933;
          box-shadow: 0 5px 0 0 #b52933;
}

.footer-contacts {
  width: 330px;
  margin-top: 30px;
  margin-left: 5px;
}

.footer-list-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 550px;
  margin-top: 20px;
}

.footer-company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  padding: 0;
  list-style: none;
}

.footer-company a {
  color: #ffffff;
}

.footer-company a:hover,
.footer-company a:focus {
  text-decoration: underline;
}

.footer-company a:active {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}

.footer-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  margin-top: 15px;
  padding: 0;
  padding-left: 25px;
  list-style: none;
}

.footer-features a {
  color: #ffd180;
}

.footer-features a:hover,
.footer-features a:focus {
  text-decoration: underline;
}

.footer-features a:active {
  text-decoration: none;
  color: rgba(255, 209, 128, 0.5);
}

.main-footer {
  padding-top: 25px;
  padding-bottom: 30px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}

.main-footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.footer-trademark {
  width: 230px;
  margin-right: 160px;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 135px;
  margin: 0 auto;
  margin-top: 15px;
  margin-right: 115px;
  padding: 0;
  list-style: none;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 43px;
  height: 43px;
  background-color: #212a3a;
  border-radius: 50%;
}

.social-button:hover,
.social-button:focus,
.social-button:active {
  background-color: #ee3643;
}

.copyright-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 300px;
  margin-top: 15px;
  padding-right: 15px;
}

.footer-copyright {
  margin: 0;
}

.footer-copyright b {
  font-weight: normal;
}

.copyright {
  color: #ffd180;
}

.copyright:hover,
.copyright:focus {
  text-decoration: underline;
}

.copyright:active {
  text-decoration: none;
  color: #ee3643;
}


/*CATALOG.HTML*/


.basket-active {
  background-color: #ee3643;
}

.user-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 300px;
  margin-right: 0;
}

.name-login {
  display: block;
  width: 300px;
  padding: 10px;
  padding-left: 50px;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.name-login:active {
  opacity: 0.3;
}

.user-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.login-catalog a,
.user-catalog a {
  display: block;
  padding: 15px;
  text-decoration: underline;
  color: #32425c;
}

.login-catalog a:hover,
.login-catalog a:focus,
.user-catalog a:hover,
.user-catalog a:focus {
  color: #ee3643;
}

.login-catalog a:active,
.user-catalog a:active {
  color: #32425c;
  opacity: 0.3;
}

.main-nav-catalog {
  margin-top: -15px;
}


/*Container-catalog*/


.container {
  margin-top: -40px;
}

.container-catalog {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  list-style: none;
  text-transform: uppercase;
}

.breadcrumbs-catalog,
.breadcrumbs-tool {
  position: relative;
  display: block;
  padding-left: 50px;
  color: #000000;
}

.breadcrumbs-catalog::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs-catalog::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 30px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs-tool::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 20px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs-current {
  position: relative;
  padding-left: 50px;
}

.breadcrumbs-current::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 20px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.page-title {
  font-weight: normal;
  margin: 0;
  padding: 30px;
}


/*catalog-columns*/

.catalog-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.filter-head {
  margin: 0;
  margin-top: 15px;
  padding: 10px 15px;
}

.filters {
  width: 220px;
  text-transform: uppercase;
  color: #000000;
}

.filters fieldset {
  margin: 0;
  padding: 0;
  border: none;
  border-bottom: 2px solid #f7f3ec;
}

.filters legend {
  padding-top: 10px;
  margin-bottom: 15px;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
}

.page-title {
  font-family: "Cuprum", Arial, sans-serif;
  background-color: #f4f7f9;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}

.filters h3 {
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  background-color: #f7f3ec;
  border-radius: 3px;
}

.range-filter {
  width: 220px;
  margin-bottom: 25px;
}

.range-controls {
  position: relative;
  height: 80px;
  margin-bottom: 10px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f7f3ec;
  border-radius: 3px;
}

.range-controls .scale {
  height: 2px;
  background-color: #d7dcde;
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background-color: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
          box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.price-controls label {
  display: block;
  width: 96px;
  font-size: 17px;
  text-transform: uppercase;
}

.price-controls input {
  width: 95px;
  padding: 10px 15px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  text-align: center;
  color: #000000;
  background-color: #f7f3ec;
  border: none;
  border-radius: 3px;
}

.price-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 220px;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.filter input[type="checkbox"] {
  font-size: 15px;
  line-height: 20px;
}

.filter input[type="radio"] {
  font-size: 15px;
  line-height: 20px;
}

.filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-option {
  margin-bottom: 25px;
  margin-left: 35px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -35px;
  width: 25px;
  height: 25px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:hover + label::before {
  background-image: url("../img/checkbox-off-hover.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -35px;
  width: 25px;
  height: 25px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked:hover + label::after {
  background-image: url("../img/checkbox-on-hover.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -35px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio:hover + label::before {
  background-image: url("../img/radio-off-hover.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: -3px;
  left: -35px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio:checked:hover + label::after {
  background-image: url("../img/radio-on-hover.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input:disabled + label {
  color: #000000;
  opacity: 0.4;
}

.filter-button {
  margin-top: 45px;
  padding: 10px 40px;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}


/*Catalog*/

.catalog {
  width: 700px;
}

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 25px;
  padding: 10px 15px;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  background-color: #f7f3ec;
  border-radius: 3px;
}

.sorting-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 380px;
  padding-left: 25px;
  margin-right: 20px;
}

.sorting-head {
  margin: 0;
  margin-right: 140px;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
}

.sorting a {
  font-size: 13px;
  line-height: 18px;
  color: #c5c5c5;
  cursor: pointer;
}

.sorting .sorting-active {
  color: #ee3643;
  border-bottom: none;
  opacity: 1;
}

.sorting .sorting-item,
.sorting .sorting-function {
  border-bottom: 1px dotted #ee3643;
}

.sorting .sorting-item:hover,
.sorting .sorting-item:focus,
.sorting .sorting-function:hover,
.sorting .sorting-function:focus  {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.sorting-function {
  margin-right: 45px;
}

.up-dir path {
  fill: #ee3643;
}

.down-dir path {
  fill: #c5c5c5;
}

.up-dir:hover path,
.down-dir:hover path {
  fill: #000000;
}



/*pagination*/

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-top: 25px;
  margin-bottom: 55px;
  padding: 0;

  list-style: none;
}

.pagination-item {
  margin-right: 10px;
}

.pagination-item a {
  display: block;
  padding: 10px 15px;

  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;

  border: 1px solid #e5e5e5;
  border-radius: 5px;
}

.pagination-item a:hover,
.pagination-item a:focus {
  border: 1px solid #bdc6ca;
}

.pagination-item a:active {
  border: 1px solid #ee3643;
}

.pagination-item-current a {
  color: #ffffff;
  background-color: #ee3643;
  border: 1px solid #ee3643;
  cursor: default;
}

.pagination-item-current a:hover {
  border: 1px solid #ee3643;
}

.pagination-item-next a {
  width: 139px;
  padding-left: 37px;
}



/*definition*/

.definition {
  background-color: #f2f6f8;
  color: #000000;
}

.definition-wrapper {
  width: 960px;
  margin: 0 auto;
  padding: 45px 10px 55px;
}

.definition h2 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: normal;
}

.definition p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.aside-footer-catalog {
  margin-top: 0;
}


/*MODAL*/


@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}


@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

.modal-map {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 940px;
  height: 446px;
  margin-top: -240px;
  margin-left: -470px;
  background-image: url("../img/map-popup.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.75);
          box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.75);
}

.modal-map p {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
}

.modal-map iframe {
  position: relative;
  z-index: 2;
  border: none;
}

.modal-message {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -310px;
  width: 620px;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.75);
          box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.75);
  border-top: 5px solid #ee3643;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  font-size: 0;
  background-color: #ffffff;
  border: 0;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 18px;
  right: 9px;
  width: 25px;
  height: 3px;
  background-color: #ee3643;
}

.modal-close::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 460px;
  margin: 0 auto;
  margin-top: 45px;
}

.modal-form label {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
}

.write-item {
  width: 220px;
}

.write-item-message {
  width: 460px;
}

.modal-form input[type="text"],
.modal-form input[type="email"] {
  width: 220px;
  height: 35px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  font-family: PT Sans, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #b5b5b5;
  border: 2px solid #b5b5b5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
}

.modal-form input[type="text"]:hover,
.modal-form input[type="email"]:hover,
.modal-form input[type="text"]:focus,
.modal-form input[type="email"]:focus {
  color: #a9a9a9;
  border: 2px solid #a9a9a9;
}

.modal-form input[type="text"]:active,
.modal-form input[type="email"]:active {
  color: #a9a9a9;
  border: 2px solid #ee3643;
}

.modal-form textarea {
  width: 460px;
  margin-top: 10px;
  margin-bottom: 35px;
  padding: 10px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #b5b5b5;
  border: 2px solid #b5b5b5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
}

.modal-form textarea:hover,
.modal-form textarea:focus {
  color: #a9a9a9;
  border: 2px solid #a9a9a9;
}

.modal-form textarea:active {
  color: #a9a9a9;
  border: 2px solid #ee3643;
}

.modal-footer {
  padding-top: 35px;
  width: 100%;
  min-height: 115px;
  background-color: #f4f4f4;
}

.modal-btn {
  display: block;
  width: 460px;
  padding: 15px;
  margin: 0 auto;
  cursor: pointer;
}

.modal-adding {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 30;
  width: 620px;
  margin-top: -150px;
  margin-left: -325px;
  font-family: "Cuprum", Arial, sans-serif;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.75);
          box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.75);
  border-top: 5px solid #ee4634;
}

.modal-adding h2 {
  position: relative;
  margin: 0;
  margin: 65px 80px 70px;
  padding-left: 100px;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
}

.modal-adding h2::before {
  content: "";
  position: absolute;
  top: -16px;
  left: 10px;
  width: 70px;
  height: 70px;
  background-image: url("../img/icon-mark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.adding-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 110px;
  background-color: #f1f1f1;
}

.adding-btn {
  display: block;
  width: 220px;
  padding: 10px;
  margin-right: 20px;
  margin-left: 80px;
}

.modal-continue {
  display: block;
  padding: 10px 45px;
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #ffffff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.modal-show {
  display: block;
  -webkit-animation: bounce 0.6s;
          animation: bounce 0.6s;
}

.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}
